.note p {
  margin-top: 0;
  margin-bottom: 10px;
}

.fold {
  /*margin: 1rem 0;*/
  border: 0.5px solid var(--fold-border-color);
  position: relative;
  clear: both;
  border-radius: 0.125rem;
}
.fold .fold-title {
  color: var(--fold-title-color);
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 0.125rem;
}
.fold .fold-title:not(.collapsed) > .fold-arrow {
  transform: rotate(90deg);
  transform-origin: center center;
}
.fold .fold-title .fold-arrow {
  display: inline-block;
  margin-right: 0.35rem;
  transition: transform 0.3s ease-out;
}
.fold .fold-content {
  padding: 1rem 1rem;
}
.fold .fold-content > *:last-child {
  margin-bottom: 0;
}
.fold-default,
.fold-secondary {
  background-color: rgba(187,187,187,0.25);
}
.fold-primary {
  background-color: rgba(183,160,224,0.25);
}
.fold-info {
  background-color: rgba(160,197,228,0.25);
}
.fold-success {
  background-color: rgba(174,220,174,0.25);
}
.fold-warning {
  background-color: rgba(248,214,166,0.25);
}
.fold-danger {
  background-color: rgba(236,169,167,0.25);
}
.fold-light {
  background-color: rgba(254,254,254,0.25);
}

.note {
  padding: 0.75rem;
  border-left: 0.35rem solid;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  color: var(--text-color);
  transition: color 0.2s ease-in-out;
  font-size: 0.9rem;
}
.note a {
  color: var(--text-color);
  transition: color 0.2s ease-in-out;
}
.note *:last-child {
  margin-bottom: 0;
}
.note-default,
.note-secondary {
  background-color: rgba(187,187,187,0.25);
  border-color: #777;
}
.note-primary {
  background-color: rgba(183,160,224,0.25);
  border-color: #6f42c1;
}
.note-success {
  background-color: rgba(174,220,174,0.25);
  border-color: #5cb85c;
}
.note-danger {
  background-color: rgba(236,169,167,0.25);
  border-color: #d9534f;
}
.note-warning {
  background-color: rgba(248,214,166,0.25);
  border-color: #f0ad4e;
}
.note-info {
  background-color: rgba(160,197,228,0.25);
  border-color: #428bca;
}
.note-light {
  background-color: rgba(254,254,254,0.25);
  border-color: #0f0f0f;
}

.label {
  display: inline;
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
  color: var(--text-color);
  transition: color 0.2s ease-in-out;
}
.label-default,
.label-secondary {
  background-color: rgba(187,187,187,0.25);
}
.label-primary {
  background-color: rgba(183,160,224,0.25);
}
.label-info {
  background-color: rgba(160,197,228,0.25);
}
.label-success {
  background-color: rgba(174,220,174,0.25);
}
.label-warning {
  background-color: rgba(248,214,166,0.25);
}
.label-danger {
  background-color: rgba(236,169,167,0.25);
}